table {
  border-spacing: 0;
  border: 1px solid #000;
}
table tr:last-child td {
  border-bottom: 0;
}
table th,
table td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  text-align: center;
  position: relative;
}
table th:last-child,
table td:last-child {
  border-right: 0;
}
table tr:nth-child(even) {
  background-color: #fafafa;
}

table th::before {
  position: absolute;
  right: 15px;
  top: 16px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
table th.sort-asc::before {
  border-bottom: 5px solid #22543d;
}
table th.sort-desc::before {
  border-top: 5px solid #22543d;
}

.App {
  display: flex;
  flex-direction: column;
  /*padding: 20px;*/
  max-width: 1200px;
  margin: auto;
  /*border: solid 1px #000;*/
}

.badge {
  background-color: #9ae6b4;
  color: #22543d;
  margin-right: 4px;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
/*input {*/
/*  padding: 10px;*/
/*  margin-bottom: 20px;*/
/*  font-size: 18px;*/
/*  border-radius: 5px;*/
/*  border: 1px solid #ddd;*/
/*  box-shadow: none;*/
/*}*/

.button-container {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  border: 1px solid #000;
}

.reset-button {
  width: 150px;
  height: 40px;
  margin: 10px;
}

.delete-button {
  width: 150px;
  height: 40px;
  margin: 10px;
}

.add-row-button {
  width: 100px;
  height: 40px;
  margin: 5px;
  background-color: #000;
  color: #fafafa;
  border: solid 1px #fafafa;
}

.add-row-button:disabled,
.add-row-button[disabled] {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(19, 1, 1, 0.3);
  border-color: rgba(195, 195, 195, 0.3);
}

.add-row-form {
  width: 100%;
  margin: 15px 0px;
  background-color: #eeeeee;
  border: 1px solid #000;
}

.add-row-form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
}

.add-row-form div input {
  padding: 5px;
  margin: 10px 13px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.table-cell div {
  display: flex;
  justify-content: center;
}